{{ define "header" }}
  <section class="profileHeader">
    <h1>{{ .Title }}</h1>
    <hr>
  </section>

{{ end }}

{{ define "main" }}
	<section class="section2">
    <h2 class="sectionTitle">Cases Authored by {{ .name }}</h2>
    <hr class="sectionTitleRule">
    <hr class="sectionTitleRule2">
{{ range .Pages }}
<article class="section2Content">
      <h2 class="sectionContentTitleCase"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <h3 class="sectionContentSubTitle">{{ .Params.citation }} ({{ .Params.decisionyear }})</h3>
      <p class="sectionContent"> {{ .Summary }} </p>
</article>
{{ end }}
</section>
{{ end }}