<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/style.css" rel="stylesheet" type="text/css">
{{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
<title>{{ $title }}</title>    
</head>
<body>
<header>
{{ partial "logo.html" . }}
{{ block "header" . }}
{{ end }}
</header>
<main>
{{ block "main" . }}
<!-- Main content -->
{{ end }}
</main>
<footer>
  <hr>
  <p class="footerDisclaimer"><span>audio, transcripts, and opinions are in the public domain<br /><span>everything else &copy; 2020 CourtData.org</span></p>
  <p class="footerNote"><span><a href="https://docs.google.com/forms/d/e/1FAIpQLSfVnzYRSrcsRj8zzSLv93ArZ3NKX-3tRARkkceq_S3HeioqOg/viewform?usp=sf_link" target="_blank">support(at)courtdata.org</a></span></p>
</footer>
</body>
</html>
