{{ define "header" }}
  <section class="profileHeader">
    <h1>Cases with an Opinion by {{ .Params.name }}</h1>
    <hr>
  </section>

{{ end }}

{{ define "main" }}
	<section class="section2">
{{ range .Pages }}
<article class="section2Content">
	<h2 class="sectionContentTitleCase"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <h3 class="sectionContentSubTitle">{{ .Page.Params.citation }} ({{ .Params.decisionyear }})</h3>
    <p class="sectionContent"> {{ .Summary }} </p>

</article>
{{ end }}
</section>
{{ end }}