{{ define "header" }}
  <section class="profileHeader">
    <h1>Cases with an Opinion by {{ .Params.name }}</h1>
    <hr>
  </section>

{{ end }}

{{ define "main" }}
	<section class="section2">
	{{ $name := .Params.alias }}
	{{ range .Pages }}
		<article class="section2Content">
			<h2 class="sectionContentTitleCase"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<h3 class="sectionContentSubTitle">{{ .Page.Params.citation }} ({{ .Params.PublishDate.Format "2006" }}){{ range where .Resources "Params.author" $name }} ({{ .Params.Type }}){{ end }}</h3>
			<p>{{ .Summary }}
		</article>
	{{ end }}
	</section>
{{ end }}