{{ define "header" }}
  <section class="profileHeader">
    <h1>{{ .Title }}</h1>
    <hr>
  </section>

{{ end }}

{{ define "main" }}
	<section class="section2">
    <h2 class="sectionTitle">Cases</h2>
    <hr class="sectionTitleRule">
    <hr class="sectionTitleRule2">
{{ range .Pages.ByPublishDate.Reverse }}
	<article class="section2Content">
		<h2 class="sectionContentTitleCase"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		{{ $this := . }}
		{{ with .Params.citation }}
			{{ if gt (len .) 3 }}
						<h3 class="sectionContentSubTitle">{{ . }} ({{ $this.Params.PublishDate.Format "2006" }})</h3>
			{{ else }} <!-- Lines 21-22 may be unnecessary -->
				<h3 class="sectionContentSubTitle">No. {{ .Params.docket }} (argued {{ dateFormat "Jan. 2, 2006" .Params.argdate }})</h3>
			{{ end }}
		{{ end }}
		{{ if eq .Params.citation "" }}
			<h3 class="sectionContentSubTitle">No. {{ .Params.docket }} (argued {{ dateFormat "Jan. 2, 2006" .Params.argdate }})</h3>
		{{ end }}
		<p class="sectionContent"> {{ .Summary }} </p>
	</article>
{{ end }}
</section>
{{ end }}