{{ define "header" }}
	{{ partial "caseheader.html" . }}
{{ end }}

{{ define "main" }}
	<section class="mainContent">
		<section class="section1">
		<h2 class="sectionTitle">Information</h2>
		<hr class="sectionTitleRule">
		<hr class="sectionTitleRule2">
		<div class="section1Content">
			<div class="block" style="float:left; width:50%; margin:0; padding:0;">{{ partial "caseinfo.html" . }}</div>
			<div class="block" style="float:left; width:50%; margin:0; padding:0;">{{ partial "advocates.html" . }}</div>
		</div>
	</section>
		<section class="section2">
			<h2 class="sectionTitle">Summary</h2>
			<hr class="sectionTitleRule">
			<hr class="sectionTitleRule2">
			{{ with .Resources.Match "opinion*" }}
				{{ range . }}
					{{ partial "opinion.html" . }}
				{{ end }}
			{{ end }}
		</section>
			{{ partial "attachments.html" . }}
			{{ partial "related.html" . }}
			{{ partial "links.html" . }}
	</section>
{{ end }}