{{ define "header" }}
	{{ partial "caseheader.html" . }}
{{ end }}

{{ define "main" }}
	<section class="mainContent"> 
		{{ partial "caseinfo.html" . }}
		<section class="section2">
			<h2 class="sectionTitle">Summary</h2>
			<hr class="sectionTitleRule">
			<hr class="sectionTitleRule2">
			{{ with .Resources.Match "opinion*" }}
				{{ range . }}
					{{ partial "opinion.html" . }}
				{{ end }}
			{{ end }}
		</section>
			{{ partial "attachments.html" . }}
			{{ partial "links.html" . }}
	</section>
{{ end }}