<section class="section2">
	<h2 class="sectionTitle">Browse by Authoring Justice</h2>
	<hr class="sectionTitleRule">
	<hr class="sectionTitleRule2">
	<div class="section2Content">
		<h2 class="sectionContentTitle">Current Justices of the U.S. Supreme Court</h2>
		{{ $t := .Site.GetPage "/justices" }}
		{{ range $t.Pages }} <!--Current Chief-->
			{{ $enddatestr := .Page.Params.enddate }}
			{{ $seat := .Page.Params.position }}
			{{ if and (eq $enddatestr "") (eq $seat "Chief Justice") }}
				<p class="sectionContent"><a href="{{ .Permalink }}">{{ .Params.Position }} {{ .Params.Name }}</a></p>
			{{ end }}
		{{ end }}
		
		{{ range $t.Pages }} <!--Current Associates-->
			{{ $enddatestr := .Page.Params.enddate }}
			{{ $seat := .Page.Params.position }}
			{{ if and (eq $enddatestr "") (ne $seat "Chief Justice") }}
				<p class="sectionContent"><a href="{{ .Permalink }}">{{ .Params.Position }} {{ .Params.Name }}</a></p>
			{{ end }}
		{{ end }}
		
		<h2 class="sectionContentTitle">Former Justices of the U.S. Supreme Court</h2>
		
		{{ range ($t.Pages.ByParam "enddate").Reverse }} <!--Prior Mix Chiefs and Associates-->
			{{ $enddatestr := .Page.Params.enddate }}
			{{ if ne $enddatestr "" }}
				<p class="sectionContent"><a href="{{ .Permalink }}">{{ .Params.Position }} {{ .Params.Name }}</a></p>
			{{ end }}
		{{ end }}

<!--Prior Chiefs>
		{{ range $t.Pages }}
			{{ $enddatestr := .Page.Params.enddate }}
			{{ $seat := .Page.Params.position }}
			{{ if and (ne $enddatestr "") (eq $seat "Chief Justice") }}
				<p class="sectionContent"><a href="{{ .Permalink }}">{{ .Params.Position }} {{ .Params.Name }}</a></p>
			{{ end }}
		{{ end }}
-->
<!--Prior Associates>
		{{ range $t.Pages }}
			{{ $enddatestr := .Page.Params.enddate }}
			{{ $seat := .Page.Params.position }}
			{{ if and (ne $enddatestr "") (ne $seat "Chief Justice") }}
				<p class="sectionContent"><a href="{{ .Permalink }}">{{ .Params.Position }} {{ .Params.Name }}</a></p>
			{{ end }}
		{{ end }}
-->
	</div>
</section>