<section class="profileHeader">
    <h1>CourtData.org</h1>
    <hr>
    <p>Our mission is to provide comprehensive, accurate, and accessible information from the U.S. Supreme Court. Our plain-English case summaries are written and edited by lawyers, accompanied by the official published copy of the case in pdf format. Each case includes the audio and official transcript of all oral arguments, to the extent those files are available. Our team has also compiled links to external resources, such as commentary and analysis, relevant to each case.</p>
</section>