{{ define "header" }}
  <section class="profileHeader">
    <h1>Justice {{ .Params.name }}</h1>
    <h3>{{ .Params.position }} of the Supreme Court</h3>
    <hr>
    <p>{{ .Content }}</p>
  </section>

{{ end }}

{{ define "main" }}
	<section class="section2">
    <h2 class="sectionTitle">Opinions by {{ .Params.position }} {{ .Params.name }}</h2>
    <hr class="sectionTitleRule">
    <hr class="sectionTitleRule2">
	{{ $name := .Params.alias }}
	{{ range .Pages.ByPublishDate.Reverse }}
		<article class="section2Content">
			<h2 class="sectionContentTitleCase"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<h3 class="sectionContentSubTitle">{{ .Page.Params.citation }} ({{ .Params.PublishDate.Format "2006" }}){{ range where .Resources "Params.author" $name }} ({{ .Params.OpinionType }}){{ end }}</h3>
			<p>{{ .Summary | truncate 300 }}</p>
		</article>
	{{ end }}
	</section>
{{ end }}